name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Verify Dependencies
        run: go mod verify

      - name: Run Tests
        run: go test -v ./...

      - name: Build Binary
        run: go build -v ./cmd/api
    
