name: Build, Test and Deploy

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  PROJECT_ID: 'bootstrap-480122'
  REGION: 'us-central1'
  GAR_REPO: 'us-central1-docker.pkg.dev/bootstrap-480122/go-micro'
  SERVICE_NAME_DEV: 'go-micro-dev'
  SERVICE_NAME_PROD: 'go-micro-prod'
  WIF_PROVIDER: 'projects/300110265956/locations/global/workloadIdentityPools/github-actions-gomicro/providers/github-provider'
  WIF_SERVICE_ACCOUNT: 'github-actions-deployer@bootstrap-480122.iam.gserviceaccount.com'


jobs:
  security-scan:
   runs-on: ubuntu-latest
   permissions:
     security-events: write
     actions: read
     contents: read
   steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: '-no-fail -fmt sarif -out results.sarif ./...'
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif

  test-verify:
    needs: security-scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Verify dependencies
        run: go mod verify
      - name: Run Tests
        run: go test -v ./...
 
  build-push:
    runs-on: ubuntu-latest
    # do not run on PRs, this avoids pushing Pull Request images to the registry.
    if: github.event_name == 'push'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ env.WIF_PROVIDER }}
          service_account: ${{ env.WIF_SERVICE_ACCOUNT }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Configure Docker
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev
      - name: Build and Push Container
        run: |
          IMAGE_URI="${{ env.GAR_REPO }}/go-micro:${{ github.sha }}"
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI


  deploy-dev:
    needs: build-push
    if: github.ref == 'refs/head/dev'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ env.WIF_PROVIDER }}
          service_account: ${{ env.WIF_SERVICE_ACCOUNT }}
      - name: Deploy to Cloud Run (Dev)
        run: |
          IMAGE_URI="${{ env.GAR_REPO }}/go-micro:${{ github.sha }}"

          gcloud run deploy ${{ env.SERVICE_NAME_DEV }} \
            --image $IMAGE_URI
            --region ${{ env.REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --tag dev-${{ github.sha }}

  deploy-prod:
    needs: build-push
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ env.WIF_PROVIDER }}
          service_account: ${{ env.WIF_SERVICE_ACCOUNT }}
      - name: Deploy Revision (zero traffic)
        run: |
          IMAGE_URI="${{ env.GAR_REPO }}/go-micro:${{ github.sha }}"

          gcloud run deploy ${{ env.SERVICE_NAME_PROD }} \
            --image $IMAGE_URI \
            --region ${{ env.REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --no-traffic \
            --tag green

      - name: Smoke test Green Revision
        run: |
          GREEN_URL=$(gcloud run services describe ${{ env.SERVICE_NAME_PROD }} --region ${{ env.REGION }} --format 'value(status.traffic[0].url)')

          echo "Now testing green Revision @: $GREEN_URL"
          curl -f -s -o /dev/null $GREEN_URL || exit 1

      - name: Migrate Traffic to Green Revision
        run: |
          gcloud run services update-traffic ${{ env.SERVICE_NAME_PROD }} \
          --region ${{ env.REGION }}
          --to-tags green=100


 
